%header.clearfix
  %h1.logo
    %a{:href => "/"} Flash Cards
  %section.userloginbuttons
    - if current_user
      = current_user.email
      = link_to t(:redact), edit_dashboard_user_path(current_user.id), :class => "btn btn-primary btn-sm"
      = link_to t(:exit), dashboard_logout_path, :class => "btn btn-danger btn-sm"
    - else
      - if current_location(:en)
        = link_to "RU", location: "ru"
      - elsif current_location(:ru)
        = link_to "EN", location: "en"
      = link_to t(:enter_tw), home_auth_at_provider_path(:provider => :twitter), :class => "btn btn-primary btn-sm"
      = link_to t(:enter_fb), home_auth_at_provider_path(:provider => :facebook), :class => "btn btn-primary btn-sm"
      = link_to t(:reg), home_signup_path, :class => "btn btn-primary btn-sm"
      или
      = link_to t(:enter), home_login_path, :class => "btn btn-success btn-sm"
  .cardsbuttons
    - if current_user
      %ul.navigation-links
        %li= link_to t(:all_cards), dashboard_decks_path, :class => "btn btn-primary"
        %li= link_to t(:add_cards), new_dashboard_card_path, :class => "btn btn-primary"
        %li= link_to t(:add_decks), new_dashboard_deck_path, :class => "btn btn-primary"
