= simple_form_for @deck do |f|
  .form-group
    = f.input :title, label: t(:deck_label_name), :class => "form-control"
  .form-group
    = f.select :current, [[t(:current_deck), true],[t(:not_current_deck), false]], id: "disabledSelect"
  = f.hidden_field :user_id, value: current_user.id
  = f.button :submit, :class => "btn btn-primary"