<!DOCTYPE html>
<html>
<head>
  <title>FlashCards</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <section id="container">
    
      <%= render "shared/header" %>
 
      <% if flash[:notice] %>
       <div class="alert alert-success"><%= flash[:notice] %></div>
      <% end %>

      <% if flash[:error] %>
        <div class="alert alert-danger"><%= flash[:error] %></div>
      <% end %>

<%= yield %>

  </section>
</body>
</html>
